{% extends 'base.html' %} {% block content %}

<style>
  .eimg {
    border-radius: 8px;
    height: 500px;
    width: 750px;
  }

  .container-fluid {
    padding: 0;
  }
  .wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    background-color: rgba(14, 31, 183, 0.6);
    margin: 0;
    padding: 10px;
    height: 80vh;
    width: 80vh;
  }
  p {
    font-size: 12px;
    color: white;
  }
  h4 {
    color: white;
  }
</style>
<div
  class="background-image"
  style="background: url({{destination.picturepath}}); 
  background-repeat: no-repeat; background-size: cover; 
  object-fit: contain; height: 100vh; width: 100vw;"
>
  <div class="wrapper-container">
    <div class="wrapper">
      <h4>{{ destination.location }}</h4>
      <p>{{ destination.description }}</p>
      <div>
        <h4>Available Excursions:</h4>
        {% for excursion in destination.excursions.all %}
        <h4>{{ excursion.activity }}</h4>
        <p>{{ excursion.description }}</p>
        <!-- <h3><img class="eimg" src="{{ excursion.picturepath }}" /></h3> -->
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
