{% extends 'base.html' %}
{% block content %}

<style>

  #image-wrapper {
    height: 600px;
    background-size: cover;
    width: 100%;
    background-image:url("../../static/images/best.png");
  }
  
  h1 {
    font-family: "Kapra-Optimized",Impact,"Arial Narrow",Arial,sans-serif;
    color: darkblue;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 110%;
    margin: 0;
    padding: 24px;
}
</style>

<div id="image-wrapper">
</div>

<h1>Available Destinations</h1>

{% for destination in destinations %}
  <a href="{% url 'destination_detail' destination.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ destination.location }}</span>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}