{% extends 'base.html' %} {% block content %} {% load static %}

<style>
  #image-wrapper {
    height: 600px;
    background-size: cover;
    width: 100%;
    background-image: url("../../static/images/best.png");
  }

  h1 {
    font-family: "Kapra-Optimized", Impact, "Arial Narrow", Arial, sans-serif;
    color: darkblue;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 110%;
    margin: 0;
    padding: 24px;
    text-align: center;
  }

  h2 {
    font-family: "Kapra-Optimized", Impact, "Arial Narrow", Arial, sans-serif;
    color: darkblue;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 110%;
    margin: 0;
    padding: 11px;
    text-align: center;
  }

  h5 {
    font-family: "Kapra-Optimized", Impact, "Arial Narrow", Arial, sans-serif;
    color: darkblue;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 110%;
    margin: 0;
    text-align: center;
    padding: 22px;
  }
  
  h6 {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 1rem;
    line-height: 150%;
    margin: 0;
    padding: 25px;
    text-align: center;
  }

  #destinations_index {
    border-style: groove;
    border-color: blue;
    width: 24.6%;
    margin: 0;
    padding: 7px;
  }

  .container {
    position: relative;
    width: 50%;
  }

  .destimg {
    border-radius: 8px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .container:hover .destimg {
    opacity: 0.5;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #008cba;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
</style>

<div id="image-wrapper"></div>

<div class="row">
  <div class="col-sm-6 order-md-2">
    <h5>DISCOVER YOUR OWN</h5>
    <h6>
      The excursions and guided tours are designed to take your getaway to the
      next level — from swimming in the clear blue water with excotic animals to
      ATV's with friends or family, These experiences will be life changing.
      Ready to revisit that bucket list? Explore the possibilities for shore
      excursions on your next DMC cruise below.
    </h6>
  </div>
</div>

<h1>Available Destinations</h1>
<div id="container col-sm-6">
  {% for destination in destinations %}
  <a href="{% url 'destination_detail' destination.id %}">
    <div class="card">
      <div class="card-content">
        <div class="container">
          <img
            class="destimg"
            alt="Avatar"
            style="width: 100%"
            src="{{ destination.picturepath }}"
          />
          <div class="middle">
            <div class="text">{{ destination.location }}</div>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

<h1>Get a Taste of The Adventures on Land</h1>
<h2>Want to share your Adventures? Mention @DMCRUISES to be featured.</h2>


<div class="row">
  <div class="col-4">
    <div
      id="simple-list-example"
      class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
      <a class="p-1 rounded" href="#simple-list-item-1"><img id="destinations_index" src="{% static 'images/girls.png' %}"/></a>
      <a class="p-1 rounded" href="#simple-list-item-2"><img id="destinations_index" src="{% static 'images/adventure.png' %}"/></a>
      <a class="p-1 rounded" href="#simple-list-item-3"><img id="destinations_index" src="{% static 'images/pig.png' %}"/></a>
      <a class="p-1 rounded" href="#simple-list-item-4"><img id="destinations_index" src="{% static 'images/kids.png' %}"/></a>
    </div>
  </div>


{% endblock %}
