{% extends 'base.html' %}
{% block content %}

<style>

  #image-wrapper {
    height: 600px;
    background-size: cover;
    width: 100%;
    background-image:url("../../static/images/detail.png");
  }
  
  h1 {
    font-family: "Kapra-Optimized",Impact,"Arial Narrow",Arial,sans-serif;
    color: darkblue;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 110%;
    margin: 0;
    padding: 24px;
}
</style>


<div id="image-wrapper">
</div>

<h1>Cruise Details</h1>


<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ cruise.name }}</span>
        <div class="card-action">
    </div>
        <p>Duration: {{ cruise.duration }} days</p>
        <p>Sail From: {{ cruise.sail_from }}</p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <h3>Available Destinations</h3>
      {% for destination in cruise.destinations.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span> {{ destination.location }} </span>
              {% for excursion in excursions %}
              <span> {{ excursion }} </span>
              {% endfor %}
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_destination' cruise.id destination.id %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="add" class="btn"/>
            </form>
          </div>
        </div>
      {% endfor %}
  </div>
  <div class=“row”>
    <div class=“col s6">
      <h3>{{ cruise.name }} Destinations</h3>
      {% if cruise.destinations.count %} 
      {% for destination in cruise.destinations.all %}
      <div class=“card”>
        <div class=“card-content”>
          <span class=“card-title”>
            <span{{ destination.location }}“>{{ destination.excursion }}</span>
            {{destination.location }}
          </span>
        </div>
      </div>
      {% endfor %} 
      {% else %}
    <h5>No Cruises</h5>
    {% endif %}
  </div>
</div>


{% endblock %}