{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>

  #image-wrapper {
    height: 600px;
    background-size: cover;
    width: 100%;
    background-image:url("../../static/images/top.png");
  }
  
  h1 {
    font-family: "Kapra-Optimized",Impact,"Arial Narrow",Arial,sans-serif;
    color: darkblue;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 110%;
    margin: 0;
    padding: 24px;
    text-align: center;
}

h2 {
  font-family: "ProximaNova-Regular",Arial,sans-serif;
  color:darkblue;
  font-size: 1rem;
  letter-spacing: .125rem;
  text-transform: uppercase;
  margin:28px 2px -3px;
  padding: 11px;
}

h5 {
  font-family: "Kapra-Optimized",Impact,"Arial Narrow",Arial,sans-serif;
  color:darkblue;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 110%;
  margin: 0;
  padding: 11px;
  text-align: center;
  }

h6 {
  font-family: "ProximaNova-Regular",Arial,sans-serif;
  font-size: 1rem;
  line-height: 150%;
  margin:0;
  padding: 25px;
 
}

#cruises_index {
  border-style: groove;
  border-color: blue;
  width: 24.6%;
  margin:0;
  padding:7px;
}

.cruiseimg {
  border-radius: 8px;
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

</style>

<div id="image-wrapper">
</div>

<div class="row">
  <div class="col-sm-6 order-md-2">
    <h5>DISCOVER THE BEST CRUISE SHIPS</h5> 
    <h6>There are many reasons to get excited about a DMC CRUISES®. Choose from itineraries that take you to best-rated vacation destinations, from sun-soaked Bahamas to the icey glaciers in Alaska and everywhere in between. Make the most out of every moment at sea while traveling onboard the world’s best cruise ships, loaded from bow to stern with game-changing thrills, dazzling entertainment, as well as next-level dining and unmatched activities for all kinds of adventure-seekers. No matter which ship you choose to sail on, this is a fleet filled with incredible feats.</h6>
  </div>
</div>

<h1>Meet the fleet</h1>

{% for cruise in cruises %}
  <a href="{% url 'cruise_detail' cruise.id %}">
    <div class="card">
        <div class="card-content">
            <div class="container">
              <img class="cruiseimg" alt="Avatar" src="{{ cruise.picturepath }}">
              <div class="overlay">
                <div class="text">{{ cruise.name }}</div>
              </div>
            </div>
        </div>
    </div>
  </a>


{% endfor %}

<h1>Get a Taste of Life at Sea</h1>
<h2>Want to share your cruise experience? Mention @DMCRUISES to be featured.</h2>

<div class="row">
  <div class="col-4">
    <div
      id="simple-list-example"
      class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
      <a class="p-1 rounded" href="#simple-list-item-1"><img id="cruises_index" src="{% static 'images/photo.png' %}"/></a>
      <a class="p-1 rounded" href="#simple-list-item-2"><img id="cruises_index" src="{% static 'images/couple.png' %}"/></a>
      <a class="p-1 rounded" href="#simple-list-item-3"><img id="cruises_index" src="{% static 'images/mother.png' %}"/></a>
      <a class="p-1 rounded" href="#simple-list-item-4"><img id="cruises_index" src="{% static 'images/red.png' %}"/></a>
    </div>
  </div>


{% endblock %}