{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>

    #image-wrapper {
      height: 669px;
      background-size: cover;
      width: 100%;
      background-image:url("../../static/images/nightcruise.png");
    }
  
    h1 {
      font-family: "Kapra-Optimized",Impact,"Arial Narrow",Arial,sans-serif;
      color: darkblue;
      font-size: 3rem;
      text-transform: uppercase;
      line-height: 110%;
      margin: 0;
      padding: 24px;
      text-align: center;
  }

  .btn,
  .btn-large,
  .btn-small {
    width: 100%;
    text-decoration: none;
    color: #fff;
    background-color: blue;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
  }

  .btn:hover,
  .btn-large:hover,
  .btn-small:hover {
    background-color: lightblue;
  }
  
  </style>
  
  
  <div id="image-wrapper">
  </div>

<h1>Sign Up</h1>

<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn">Create Account</button>
</form>

{% endblock %}
