{% extends 'base.html' %} {% block content %} {% load static %}

<style>
  #image-wrapper {
    height: 304px;
    background-size: cover;
    width: 100%;
    background-image: url("../../static/images/ship.png");
  }

  .row {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 1rem;
    line-height: 150%;
    margin: 0;
    padding: 0;
  }

  .group {
    width: 24.6%;
    margin: 0;
    padding: 7px;
    text-decoration: none;
    color: white;
    background-color: blue;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
  }

  #cruise_home {
    border-style: groove;
    border-color: blue;
    background-color: none;
    width: 24.6%;
    margin: 0;
    padding: 0px;
  }

  .btn {
    margin: 0 95px;
    text-decoration: none;
    color: white;
    background-color: blue;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
  }

  h1 {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    color: darkblue;
    font-size: 1rem;
    letter-spacing: 0.125rem;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 500px -3px;
    padding: 11px;
  }

  h2 {
    font-family: "Kapra-Optimized", Impact, "Arial Narrow", Arial, sans-serif;
    color: darkblue;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 110%;
    margin: 5px 455px;
    padding: 29px;
  }

  h4 {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    color: darkblue;
    font-size: 1rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    margin: 0;
    margin-left: 15px;
    padding: 20px;
  }
  h5 {
    font-family: "Kapra-Optimized", Impact, "Arial Narrow", Arial, sans-serif;
    color: darkblue;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 110%;
    margin: 10px;
    padding: 24px;
  }

  h6 {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 1rem;
    line-height: 150%;
    margin: 0;
    padding: 25px;
  }

  h7 {
    margin-left: 25px;
  }

  #cruise_dom {
    border-style: groove;
    border-color: blue;
    margin: 0px 107px;
    padding: 7px;
    float: right;
    clear: none;
    width: 85%;
    width: 85%;
    margin-right: 128px;
  }

  #cruise_tif {
    border-style: groove;
    border-color: blue;
    margin: 0px;
    padding: 7px;
    float: right;
    clear: none;
    width: 125%;
    width: 125%;
  }

  .btn:hover,
  .btn-large:hover,
  .btn-small:hover {
    background-color: lightblue;
  }

  #destination-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #destination {
    font-family: "Kapra-Optimized", Impact, "Arial Narrow", Arial, sans-serif;
    color: darkblue;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 2;
    margin: 10px;
    padding: 24px;
  }

  #homepics {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }

  #homepics {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
</style>
<div class="grid text-center" style="--bs-columns: 3"></div>

<div id="image-wrapper"></div>

<div class="row">
  <div class="col-sm-6 order-md-2">
    <h5>EXPLORE ALL THE FUN ABOARD DMC CRUISES</h5>
    <h6>
      Imagine waking up to the gentle sway of the ocean, surrounded by
      breathtaking views of endless horizons. Welcome to DMCRUISES a cruise of a
      lifetime, where every moment is a new adventure and relaxation knows no
      bounds.
    </h6>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div
      id="simple-list-example"
      class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center"
    >
      <a class="p-1 rounded" href="#simple-list-item-1"
        ><img id="cruise_home" src="{% static 'images/weekenedsale.png' %}"
      /></a>
      <a class="p-1 rounded" href="#simple-list-item-2"
        ><img id="cruise_home" src="{% static 'images/alaskasale.png' %}"
      /></a>
      <a class="p-1 rounded" href="#simple-list-item-3"
        ><img id="cruise_home" src="{% static 'images/europesale.png' %}"
      /></a>
      <a class="p-1 rounded" href="#simple-list-item-4"
        ><img id="cruise_home" src="{% static 'images/caribbeansale.png' %}"
      /></a>
    </div>
  </div>
  <div class="col-sm-4 order-md-3" class="p-3 border bg-light"></div>
</div>

<a href="{% url 'bookings_create' %}"
  ><button class="group" type="button" class="btn btn-primary">
    BOOK NOW
  </button></a
>
<a href="{% url 'bookings_create' %}"
  ><button class="group" type="button" class="btn btn-primary">
    BOOK NOW
  </button></a
>
<a href="{% url 'bookings_create' %}"
  ><button class="group" type="button" class="btn btn-primary">
    BOOK NOW
  </button></a
>
<a href="{% url 'bookings_create' %}"
  ><button class="group" type="button" class="btn btn-primary">
    BOOK NOW
  </button></a
>

<div class="row">
  <div class="col-sm-6 order-md-2">
    <h1>FUTURE GAMECHANGERS</h1>
    <h2>ARRIVING 2024</h2>
  </div>
</div>

<div class="row2 my-custome-row Justify-content-center align-items-center">
  <div class="col-sm-4 order-md-2" id="homepics">
    <a href="http://localhost:8000/cruises/4/"
      ><img id="cruise_dom" src="../../static/images/dom.png"
    /></a>
    <a href="http://localhost:8000/cruises/3/"
      ><img id="cruise_tif" src="../../static/images/tif.png"
    /></a>
  </div>
</div>
<h5 id="destination">Destinations Beyond Your Imagination</h5>
<h6>
  Set sail on a captivating journey that will take you to some of the world's
  most stunning and exotic destinations. Explore pristine tropical islands,
  stroll through charming coastal towns, and immerse yourself in the rich
  cultures of each port of call. From the white-sand beaches of the Caribbean to
  the historic cities of Europe, our cruise promises an unforgettable voyage.
</h6>

<div class="row">
  <div class="col-4">
    <div
      id="simple-list-example"
      class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center"
    >
      <a class="p-1 rounded" href="#simple-list-item-1"
        ><img id="cruise_home" src="{% static 'images/spain.png' %}"
      /></a>
      <a class="p-1 rounded" href="#simple-list-item-2"
        ><img id="cruise_home" src="{% static 'images/africa.png' %}"
      /></a>
      <a class="p-1 rounded" href="#simple-list-item-3"
        ><img id="cruise_home" src="{% static 'images/thailand.png' %}"
      /></a>
      <a class="p-1 rounded" href="#simple-list-item-4"
        ><img id="cruise_home" src="{% static 'images/hawaii.png' %}"
      /></a>
    </div>
  </div>

  <h5>Luxury Awaits at Sea</h5>
  <h6>
    Our cruise ship is a floating paradise, offering you the epitome of comfort
    and elegance. Choose from a range of spacious cabins and suites, each
    designed to provide you with a private sanctuary at sea. Wake up to
    panoramic ocean views from your private balcony, indulge in world-class
    cuisine at our gourmet restaurants, and unwind in our luxurious spa and
    wellness center.
  </h6>

  <div class="row">
    <div class="col-4">
      <div
        id="simple-list-example"
        class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center"
      >
        <a class="p-1 rounded" href="#simple-list-item-1"
          ><img id="cruise_home" src="{% static 'images/hat.png' %}"
        /></a>
        <a class="p-1 rounded" href="#simple-list-item-2"
          ><img id="cruise_home" src="{% static 'images/chair.png' %}"
        /></a>
        <a class="p-1 rounded" href="#simple-list-item-3"
          ><img id="cruise_home" src="{% static 'images/food.png' %}"
        /></a>
        <a class="p-1 rounded" href="#simple-list-item-4"
          ><img id="cruise_home" src="{% static 'images/water.png' %}"
        /></a>
      </div>
    </div>

    <h5>Endless Entertainment</h5>
    <h6>
      Your days at sea are filled with excitement and entertainment. Enjoy
      dazzling Broadway-style shows, live music performances, and thrilling
      casino nights. Relax by the pool, take a dip in our crystal-clear waters,
      or savor a cocktail while watching the sunset from our expansive sun deck.
    </h6>

    <div class="row">
      <div class="col-4">
        <div
          id="simple-list-example"
          class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center"
        >
          <a class="p-1 rounded" href="#simple-list-item-1"
            ><img
              id="cruise_home"
              src="{% static 'images/familyplaying.png' %}"
          /></a>
          <a class="p-1 rounded" href="#simple-list-item-2"
            ><img id="cruise_home" src="{% static 'images/cruiseshow.png' %}"
          /></a>
          <a class="p-1 rounded" href="#simple-list-item-3"
            ><img id="cruise_home" src="{% static 'images/casino.png' %}"
          /></a>
          <a class="p-1 rounded" href="#simple-list-item-4"
            ><img id="cruise_home" src="{% static 'images/drink.png' %}"
          /></a>
        </div>
      </div>

      <h5>Adventure Beyond the Ship</h5>
      <h6>
        In each port of call, you'll have the chance to explore the local
        culture, partake in exciting shore excursions, and create lasting
        memories. Dive into crystal-clear waters for snorkeling adventures,
        explore ancient ruins, or simply relax on a beautiful beach. The choice
        is yours.
      </h6>

      <div class="row">
        <div class="col-4">
          <div
            id="simple-list-example"
            class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center"
          >
            <a class="p-1 rounded" href="#simple-list-item-1"
              ><img id="cruise_home" src="{% static 'images/camel.png' %}"
            /></a>
            <a class="p-1 rounded" href="#simple-list-item-2"
              ><img id="cruise_home" src="{% static 'images/elph.png' %}"
            /></a>
            <a class="p-1 rounded" href="#simple-list-item-3"
              ><img id="cruise_home" src="{% static 'images/fish.png' %}"
            /></a>
            <a class="p-1 rounded" href="#simple-list-item-4"
              ><img id="cruise_home" src="{% static 'images/canu.png' %}"
            /></a>
          </div>
        </div>

        <h4>THE MOST EXCITING CRUISE DESTINATIONS</h4>
        <h5>AND AWARD-WINNING SHIPS</h5>
        <h6>
          Unlock some of the most incredible travel destinations. Get on island
          time and unwind on some of the best beaches in the world, venture deep
          into the rainforests, and snorkel the most vibrant reefs on a
          Caribbean or Bahamas cruise getaway with the whole family.
        </h6>
        <h6>
          Earn your wilderness badge as you cruise between the Alaska glaciers,
          pan for gold in prospecting towns, and trek across the rugged tundra
          on an Alaska vacation. And savor a burst of flavors throughout
          culture-rich ports in the Mediterranean, the British Isles,
          Scandinavia and beyond on an unforgettable cruise through Europe. No
          matter where in the world you choose to wander, cruises can take you
          deep into top-rated cruise ports and off-the-beaten-path gems, so you
          can experience each one like a local.
        </h6>
        <h6>
          It all starts with the boldest cruise ships at sea — and ours have won
          awards for everything from world class dining and spectacular
          entertainment, to record-setting onboard thrills and groundbreaking
          innovation. Whether you’re traveling solo or vacationing with the
          whole extended family, you’ll have all kinds of ahh-inducing cruise
          rooms to choose from, like affordable connecting staterooms that are
          perfect for groups, romantic rooms for couples craving rejuvenation
          and relaxation, and even a thrill-filled Ultimate Family Suite with a
          private game room and in-suite slide.
        </h6>
        <h7
          >Taxes, Fees and Port Expenses range from $74.49 to $426.86, and are
          assessed on a per guest basis for all guests according to the
          itinerary.</h7
        >

        {% endblock %}
      </div>
    </div>
  </div>
</div>
