{% extends 'base.html' %}
{% block content %}

<style>

  #image-wrapper {
    height: 600px;
    background-size: cover;
    width: 100%;
    background-image:url("../../static/images/chairss.png");
  }
  #cruise_home {
    border-style: groove;
    border-color: blue;
    width: 24.6%;
    margin:0;
    padding:7px;
  }
  
  h1 {
    font-family: "Kapra-Optimized",Impact,"Arial Narrow",Arial,sans-serif;
    color: darkblue;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 110%;
    margin: 0;
    padding: 24px;
    text-align: center;
}

h5 {
font-family: "Kapra-Optimized",Impact,"Arial Narrow",Arial,sans-serif;
color:darkblue;
font-size: 3rem;
text-transform: uppercase;
line-height: 110%;
margin: 0;
padding: 11px;
text-align: center;
}

h6 {
  font-family: "ProximaNova-Regular",Arial,sans-serif;
  font-size: 1rem;
  line-height: 150%;
  margin:0;
  padding: 25px;
  text-align: center;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: blue;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: lightblue;
}

.col_s6 {
  margin: 0 auto;
}

div.row {
  margin-left: 25%;
  margin-right: 25%;
}

form {
  margin-left: 25%;
  margin-right: 25%;
}

div.cardcontent {
  align-items: center;
  text-align: center;
}

.card {
  width: 203%
}

</style>

<div id="image-wrapper">
</div>

<h1>Booking Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
        <div class="card-content">
          <span class="card-title">{{ booking.cruise }}</span>
          {% for destination in booking.cruise.destinations.all %}
          <p>Destinations: {{ destination.location }}</p>
          {% endfor %}
          <p>Date: {{ booking.date }}</p>
          <p>Duration: {{booking.cruise.duration}} days</p>
          <p>Price: ${{ booking.price }}</p>
          <p>Sails From: {{booking.cruise.sail_from}} </p>
        </div>
      </div>
      <div class="card-action">
        <a href="{% url 'bookings_update' booking.id %}">Edit</a>
        <a href="{% url 'bookings_delete' booking.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_room' booking.id %}" method="POST">
      {% csrf_token %}
      {{ add_room_form.as_p }}
      <input type="submit" class="btn" value="Add Room">
    </form>
    <br>
    <table class="striped">
      <thead>
        <tr><th><h1>Room Details</h1></th>
      </thead>
      <tbody>
        {% for room in booking.room_set.all %}
          <tr>
            <td>{{room.get_type_display}}</td>
            <td>{{room.cabin_number}}</td>
            <td>{{room.get_location_display}}</td>
            <td><form action="{% url 'delete_room' room.id %}" method="POST">
              <input type="submit" value="Delete Room" class="btn">
              {% csrf_token %}
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ booking.cruise.name }}s Destinations</h3>
    <div class="card">
      <div class="card-content">
        <span class="card-title">
              {% for destination in booking.cruise.destinations.all %}
              Sails to {{ destination.location }}
              {% for excursion in destination.excursions.all %}  
                <p>Your Excursions: {{ excursion.activity }}</p>
              {% endfor %}
      {% endfor %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  document.addEventListener('DOMContentLoaded', function() {
    const selectEl = document.querySelectorAll('select');
    M.FormSelect.init(selectEl);
})
</script>
{% endblock %}
