{% extends 'base.html' %}
{% block content %}

<h1>All Bookings</h1>

<p><a href="{% url 'bookings_create' %}">Add Booking</a></p>
{% for booking in bookings %}
  <a href="{% url 'detail' booking.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ booking.cruise }}</span>
        <p>Destination: {{ booking.destinations_str }}</p>
        <p>Date: {{ booking.date }}</p>
      </div>
  </a>
{% endfor %}
<div class="col s6">
  <h3>Available Cruises</h3>
  {% if cruise.count %}
    {% for cruise in cruise.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            Sailing to <span>{{ cruise.destination }}</span>
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_cruise' booking.id cruise.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>{{booking.user}} Already Has All Cruises Booked! Bon Voyage!</h5>
  {% endif %}
</div>
{% endblock %}