body {
    background-color: lightskyblue;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Kapra-Optimized",Impact,"Arial "Narrow","Arial","sans-serif";
  }

  main {
    flex: 1 0 auto;
    background-color: white;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: darkblue;
  }